header menu
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 480px;
  height: 100%;
}

header menu a
{
  height: 100%;
  line-height: 80px;
}
header menu a.selected,
header menu a:hover
{
  text-decoration: none;
  border-bottom: 3px solid var(--border-dark);
}

.night-mode header menu a.selected,
.night-mode header menu a:hover
{
  border-bottom: 3px solid var(--border);
}