html
{
  --header: #FFFC;
  --header-dark: #333C;

  --border: rgb(219, 219, 219);
  --border-dark: rgb(161, 161, 161);

  --background: #D1D1D1;
  --background-2: #ECECEC;
  --text: #000;


  --checked: #8FBC8F;
  --highlight: #CD5C5C;
  --highlight-2: #A85252;

  --background-dark: #6e6e6e;
  --background-2-dark: #3B3B3B;
  --text-dark: #FFF;

  --blur: blur(30px) saturate(120%);
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  transition: color 0.9s;
  transition: background-color 1s;
}
body
{
  background: var(--background);
  color: var(--text);
}
.night-mode body
{
  background: var(--background-dark);
  color: var(--text-dark);
}
a
{
  color: var(--text);
  text-decoration: none;
}
a:hover
{
  text-decoration: underline;
}
.night-mode a
{
  color: var(--text-dark);
}
